<div class='container'>

  <%= form_for @project do |f| %>

  <div class='form-group'>
    <label for='Title'>Title</label>
    <%= f.text_field :title, class: 'form-control' %><br/>
  </div>

  <div class='form-group'>
    <label for='summary'>Project</label>
        <%= f.text_area :summary, id: 'summary', class: 'form-control' %><br/>
  </div>


  <div class='card-action'>
    <%= link_to 'Cancel', project_path(@project), class: 'btn btn-secondary' %>
    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>

  <% end %>

</div>
