<div class="card">
  <%= form_for @project do |f| %>

  <div class="container">
    <div class="card-content">
      <div class='input-field col s6'>
        <label for='Title'>Title</label>
        <%= f.text_field :title, class: 'active' %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='summary'>Project</label>
        <%= f.text_area :summary, id: 'summary', class: 'active materialize-textarea' %><br/>
      </div>
    </div>

    <div class='card-action'>
      <%= link_to 'Cancel', :back, class: 'waves-effect waves-light btn right' %>
      <%= f.submit 'Save Changes', class: 'waves-effect waves-light btn' %>
    </div>
  
  </div>
  <% end %>
</div>
