<h1><%= @project.title %></h1>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure you want to Delete this Project?'}, class: 'btn btn-secondary' %>
  </p>
<% end %>

<p><%= @project.summary %></p>

<div class='project-info'>

  <% if @project.images.length > 0 %>
    <% @project.images.order('id asc').each do |image|%>
      <div class='project-div'>
        <p><%= image_tag image.image, class: 'project-img' %></p>
        <p><%= image.caption %></p>
        <% if user_signed_in? %>
          <div>
            <%= link_to 'Edit', edit_project_image_path(image.project,image),
                  class: 'btn btn-secondary' %> 
            <%= link_to 'Delete', project_image_path(image.project,image),
                  class: 'btn btn-secondary', method: :delete, data: {confirm: 'Are you sure you want to Delete this Image?'} %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <p>
      <br />
      <%= link_to 'Add New Image', new_project_image_path(@project), class: 'btn btn-primary' %>
    </p>
  <% end %>

</div>
